# Byte-compiled / cache
__pycache__/
*.py[cod]

# Distribution / packaging
*.egg-info/
dist/
build/

# Virtual environments
.venv/
env/
venv/

# IDEs and editors
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# OS files
Thumbs.db
Desktop.ini
